<!-- js
============================================ -->
<div class="botton-footer">
    <!-- jQuery js -->
    <script th:src="@{/user/assets/js/vendor/jquery-3.6.0.min.js}"></script>
    <script th:src="@{/user/assets/js/vendor/jquery-migrate-3.3.2.min.js}"></script>
    <!-- Modernizer js -->
    <script th:src="@{/user/assets/js/vendor/modernizr-3.11.2.min.js}"></script>
    <!-- Bootstrap js -->
    <script th:src="@{/user/assets/js/vendor/bootstrap.bundle.min.js}"></script>

    <!-- Slick Slider js -->
    <script th:src="@{/user/assets/js/plugins/slick.min.js}"></script>
    <!-- Countdown js -->
    <script th:src="@{/user/assets/js/plugins/countdown.min.js}"></script>
    <!-- Barrating js -->
    <script th:src="@{/user/assets/js/plugins/jquery.barrating.min.js}"></script>
    <!-- Counterup js -->
    <script th:src="@{/user/assets/js/plugins/jquery.counterup.min.js}"></script>
    <!-- Waypoints -->
    <script th:src="@{/user/assets/js/plugins/waypoints.min.js}"></script>
    <!-- Nice Select js -->
    <script th:src="@{/user/assets/js/plugins/jquery.nice-select.min.js}"></script>
    <!-- Sticky Sidebar js -->
    <script th:src="@{/user/assets/js/plugins/jquery.sticky-sidebar.js}"></script>
    <!-- Jquery-ui js -->
    <script th:src="@{/user/assets/js/plugins/jquery-ui.min.js}"></script>
    <!-- Scroll Top js -->
    <script th:src="@{/user/assets/js/plugins/scroll-top.min.js}"></script>
    <!-- Theia Sticky Sidebar js -->
    <script th:src="@{/user/assets/js/plugins/theia-sticky-sidebar.min.js}"></script>
    <!-- ElevateZoom js -->
    <script th:src="@{/user/assets/js/plugins/jquery.elevateZoom-3.0.8.min.js}"></script>
    <!-- Timecircles js -->
    <script th:src="@{/user/assets/js/plugins/timecircles.min.js}"></script>
    <!-- Mailchimp Ajax js -->
    <script th:src="@{/user/assets/js/plugins/mailchimp-ajax.js}"></script>

    <!-- Main js -->
    <script th:src="@{/user/assets/js/main.js}"></script>
    <!-- <script th:src="/user/assets/js/main.min.js"></script> -->
</div>