    <!-- Khu vực giỏ hàng mini -->
    <div class="offcanvas-minicart_wrapper" id="miniCart">
        <div class="offcanvas-menu-inner">
            <a href="#" class="btn-close"><i class="ion-android-close"></i></a>
            <div class="minicart-content">
                <div class="minicart-heading">
                    <h4>Shopping Cart</h4>
                </div>
                <ul class="minicart-list" id="cart-list">
                    <!-- Danh sách sản phẩm trong giỏ hàng sẽ được thêm vào đây bằng JavaScript -->
                </ul>
            </div>
            <div class="minicart-item_total">
                <span>Subtotal</span>
                <span class="ammount">$0.00</span> <!-- Giá trị này sẽ được cập nhật bằng JavaScript -->
            </div>
            <div class="minicart-item_quantity">
                <span>Số lượng sản phẩm</span>
                <span class="quantity-count">0</span>
            </div>
            <div class="minicart-btn_area">
                <a href="cart.html" class="hiraola-btn hiraola-btn_dark hiraola-btn_fullwidth">Minicart</a>
            </div>
            <div class="minicart-btn_area">
                <a href="checkout.html" class="hiraola-btn hiraola-btn_dark hiraola-btn_fullwidth checkout-btn">Checkout</a>
            </div>
        </div>
    </div>