<!-- Begin Hiraola's Newsletter Popup Area -->
<div class="popup_wrapper popup_header">
    <div class="test">
        <span class="popup_off"><i class="ion-android-close"></i></span>
        <div class="subscribe_area">
            <h2>Sign Up Newsletter</h2>
            <p>Subscribe to the our store mailing list to receive updates on new arrivals, special offers and other
                discount information.</p>
            <div class="subscribe-form-group">
                <form class="subscribe-form" action="#">
                    <input autocomplete="off" type="text" name="message" id="message" placeholder="Enter your email address">
                    <button type="submit">subscribe</button>
                </form>
            </div>
            <div class="subscribe-bottom">
                <input type="checkbox" id="newsletter-permission">
                <label for="newsletter-permission">Don't show this popup again</label>
            </div>
        </div>
    </div>
</div>
<!-- Hiraola's Newsletter Popup Area Here -->