<div class="slider-with-category_menu side">
    <div class="container-fluid">
        <div class="row">
            <div class="col grid-half order-md-2 order-lg-1">
                <div class="category-menu">
                    <div class="category-heading">
                        <h2 class="categories-toggle"><span>Shop by categories</span></h2>
                    </div>
                    <div id="cate-toggle" class="category-menu-list">
                        <ul>
                            <!-- Dùng Thymeleaf để lặp qua danh sách categories từ controller -->
                            <li class="right-menu" th:each="category : ${categories}">
                                <a th:href="@{'/users/category/' + ${category.id} + '/products'}" th:text="${category.name}"></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col grid-full order-md-1 order-lg-2">
                <div class="hiraola-slider_area">
                    <div class="main-slider">
                        <!-- Begin Single Slide Area -->
                        <div class="single-slide animation-style-01 bg-1">
                            <div class="container">
                                <div class="slider-content">
                                    <h5><span>Black Friday</span> This Week</h5>
                                    <h2>Work Desk</h2>
                                    <h3>Surface Studio 2022</h3>
                                    <h4>Starting at <span>£1599.00</span></h4>
                                    <div class="hiraola-btn-ps_left slide-btn">
                                        <a class="hiraola-btn" href="shop-left-sidebar.html">Shopping Now</a>
                                    </div>
                                </div>
                                <div class="slider-progress"></div>
                            </div>
                        </div>
                        <!-- Single Slide Area End Here -->
                        <!-- Begin Single Slide Area -->
                        <div class="single-slide animation-style-02 bg-2">
                            <div class="container">
                                <div class="slider-content">
                                    <h5><span>-10% Off</span> This Week</h5>
                                    <h2>Phantom4</h2>
                                    <h3>Pro+ Obsidian</h3>
                                    <h4>Starting at <span>£809.00</span></h4>
                                    <div class="hiraola-btn-ps_left slide-btn">
                                        <a class="hiraola-btn" href="shop-left-sidebar.html">Shopping Now</a>
                                    </div>
                                </div>
                                <div class="slider-progress"></div>
                            </div>
                        </div>
                        <div class="single-slide animation-style-02 bg-3">
                            <div class="container">
                                <div class="slider-content">
                                    <h5><span>Black Friday</span> This Week</h5>
                                    <h2>Work Desk</h2>
                                    <h3>Surface Studio 2022</h3>
                                    <h4>Starting at <span>£1599.00</span></h4>
                                    <div class="hiraola-btn-ps_left slide-btn">
                                        <a class="hiraola-btn" href="shop-left-sidebar.html">Shopping Now</a>
                                    </div>
                                </div>
                                <div class="slider-progress"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col grid-half grid-md_half order-md-2 order-lg-3">
                <div class="banner-item img-hover_effect">
                    <a href="shop-left-sidebar.html">
                        <img class="img-full" th:src="@{/user/assets/images/banner/1_1.jpg}" alt="Hiraola's Banner">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="hiraola-banner_area">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4">
                <div class="banner-item img-hover_effect">
                    <a href="shop-left-sidebar.html">
                        <img class="img-full" th:src="@{/user/assets/images/banner/1_2.jpg}" alt="Hiraola's Banner">
                    </a>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="banner-item img-hover_effect">
                    <a href="shop-left-sidebar.html">
                        <img class="img-full" th:src="@{/user/assets/images/banner/1_3.jpg}" alt="Hiraola's Banner">
                    </a>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="banner-item img-hover_effect">
                    <a href="shop-left-sidebar.html">
                        <img class="img-full" th:src="@{/user/assets/images/banner/1_4.jpg}" alt="Hiraola's Banner">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>